{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>
    {% if error %}
    <div class="error"><span class="glyphicon glyphicon-remove glyphicon-white"></span>{{ '%s - %s' % (error) }}</div>
    {% elif success %}
    <div class="success"><span class="glyphicon glyphicon-ok glyphicon-white"></span>{{ success[1] }}</div>
    {% endif %}
    <table class="table table-striped">
        <th>#</th><th>User</th><th>Description</th><th>Completed</th><th colspan="2"></th>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>
                    <a href="{{ url_for('todo', id=todo.id) }}">
                       {{ todo.description }}
                    </a>
                </td>
                <td>
                    <form method="post" action="{{ url_for('todos_toggle_completed', id=todo.id) }}">
                        {% if todo.completed == 1 %}
                        <button type="submit" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-check glyphicon-white"></span></button>
                        {% else %}
                        <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                        {% endif %}
                    </form>
                </td>
                <td>
                    <form method="get" target="_blank" action="{{ url_for('todo_as_json', id=todo.id) }}">
                        <button type="submit" class="btn btn-xs btn-info">JSON</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{{ url_for('todo_delete', id=todo.id) }}">
                        <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash glyphicon-white"></span></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3">
                <form method="get" action="{{ url_for('todos_paged', index=0) }}">
                    <button type="submit" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-home glyphicon-white"></span></button>
                </form>
            </td>
            <td colspan="3">
                <form method="get" action="{{ url_for('todos_paged', index=last) }}">
                    <button type="submit" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-chevron-right glyphicon-white"></span></button>
                </form>
            </td>
        </tr>
        <tr>
            <form method="post" action="{{ url_for('todos_POST') }}">
                <td colspan="3">
                    <input type="textbox" name="description" class="small-6 small-center" placeholder="Description...">
                </td>
                <td>
                    <input type="checkbox" name="completed" />
                </td>
                <td colspan="2">
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
    </table>
</div>
{% endblock %}